.venv/
__pycache__/
aws/
datasets/__pycache__/
sevir/
wandb/

Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-9921.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-19842.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-29763.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-39684.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-49605.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-59526.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-69447.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-79368.pt
Exps/basic_exps/Diffsimvp_sevir_simvp_rootcause_fix_traincond/checkpoints/ckpt-89289.pt

Exps/basic_exps/Diffsmaat_sevir_smaat_rootcause_fix_traincond_100k/checkpoints/ckpt-188499.pt
Exps/basic_exps/Diffsmaat_sevir_smaat_rootcause_fix_traincond_100k/checkpoints/ckpt-198420.pt

Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-9921.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-19842.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-29763.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-39684.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-49605.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-59526.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-69447.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-79368.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-89289.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-99210.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-109131.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-119052.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-128973.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-138894.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-148815.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-158736.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-168657.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-178578.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-188499.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-198420.pt
Exps/basic_exps/Singlesmaat_sevir_smaat_tf07_charb/checkpoints/ckpt-208341.pt
